<mat-toolbar color="primary" class="footer"
             fxLayoutAlign="center center"
             fxLayoutGap="10px">

  <div style="text-align: center">
    <p style="font-family: cursive; font-size: 30px; color: rgb(255,255,255)">Go beyond your reality</p>
  </div>

  <div style="text-align: right">
    <p style="font-family: cursive; font-size: 10px; color: rgb(255,255,255)">© Copyright 2022 HackNaróg</p>
  </div>

<!--  <div fxFlex="">-->
<!--    <p style="font-size: 10px; vertical-align: bottom"> © Copyright 2022 HackNaróg</p>-->
<!--  </div>-->
</mat-toolbar>

