<div style="min-width: 50vw!important;" class="container" fxLayout="column" fxLayoutGap="20px" >
  <mat-card>
    <div style="text-align:center;">
      <mat-card-title>Conversation category: {{(request$ | async)?.category?.name}}
        <mat-icon *ngIf="(request$ | async)?.negative" aria-hidden="false" aria-label="Example home icon"
                  matTooltip="Your request contains hate speech. It's blocked and will not be matched."
        >warning</mat-icon>
      </mat-card-title>
    </div>
    <mat-card-content>
      <br/>
      <div class="detail-font"><span class="detail-font-label">Start date:</span> <span>{{(request$ | async)?.startDate | date}}</span> <br/></div>
      <hr>
      <div class="detail-font"><span class="detail-font-label">End date:</span> {{(request$ | async)?.endDate | date}} <br/></div>
      <hr>
      <div class="detail-font"><span class="detail-font-label">Description:</span> {{(request$ | async)?.freeText}}</div>
      <hr>
      <div class="detail-font"><span class="detail-font-label">Place:</span>  {{(request$ | async)?.place}}</div>
      <hr>
      <div class="detail-font"><span class="detail-font-label">Expected expertise:</span> {{(request$ | async)?.expectedExpertise}}</div>
      <hr>
      <div class="detail-font"><span class="detail-font-label">Declared expertise:</span> {{(request$ | async)?.declaredExpertise}}</div>
    </mat-card-content>
  </mat-card>
</div>



