<div class="container" fxLayout="column" fxLayoutGap="20px" style="min-width: 50vw!important;">
      <mat-card>
        <div style="text-align:center;">
          <mat-card-title></mat-card-title>
        </div>
        <mat-card-content>
          <div class="inside-card" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-around center">
            <h1>Meeting Info</h1>
            <div class="detail-font"><span class="detail-font-label">Category:</span><span>{{(meeting$ | async)?.category?.name}}</span></div>
            <div class="detail-font"><span class="detail-font-label">Date:</span><span>{{(meeting$ | async)?.date | date}} </span></div>
          </div>
          <div class="inside-card" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-around center">
            <h1>Inspirations</h1>
            <mat-selection-list [multiple]="false">
              <mat-list-option  *ngFor="let inspiration of (meeting$ | async)?.inspirations" [value]="inspiration">
                <span>{{inspiration}}</span>
              </mat-list-option>
            </mat-selection-list>
          </div>
          <div class="inside-card" *ngIf="(meeting$ | async)?.suggestedPlaces?.length" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-around center">
            <h1>Places</h1>
            <mat-grid-list cols="2" class="grid-layout-custom">
              <mat-grid-tile *ngFor="let place of (meeting$ | async)?.suggestedPlaces" >
                <mat-card class="my-grid-tile">
                  <mat-card-header>
                    <mat-card-title>{{place.name}}</mat-card-title>
                      <mat-card-subtitle>{{place.location}}</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content><div style="text-align:center;">{{place.description}}</div></mat-card-content>
                </mat-card>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </mat-card-content>
        <div *ngIf="isFinishingButtonVisible$ | async" style="text-align:center;">
          <h2>Has the meeting been finished?</h2>
        </div>
        <div *ngIf="isFinishingButtonVisible$ | async" style="text-align:center;">
          <button mat-raised-button (click)="finishMeeting()">Meeting has been finished</button>
        </div>

        <div *ngIf="isGradingVisible$ | async" style="text-align:center;">
          <h2>Rate your buddy</h2>
        </div>
        <div *ngIf="isGradingVisible$ | async" style="text-align:center;">
          <mat-slider
            thumbLabel
            tickInterval="1"
            step="1"
            min="1"
            max="5"
            aria-label="units"
            (input)="changeSliderValue($event)"
          ></mat-slider>
          <button mat-raised-button (click)="addRating()">Submit rating</button>
        </div>

        <div *ngIf="otherUserGrade$ | async" style="text-align:center;">
          <h1>Your rating</h1>
          <span>{{ otherUserGrade$ | async }}</span>
        </div>
      </mat-card>
</div>



