.my-grid-tile {
  margin:20px 20px 20px 20px;
}
h1 {
  font-family: norse-fat
}
.grid-layout-custom{
  width: 31vw;
  height: 10vh;
  margin-top: -7vh;
  padding-bottom: calc(1 * ((20% - 0px) * 1) + 0px + 0px) !important;
}
span {
  font-size: 1.5em;
}

.mat-list-item {
  font-size: 1.5em;
}