<div class="container" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="space-around center">
      <mat-card>
        <div style="text-align:center;">
          <mat-card-title>Category: {{(meeting$ | async)?.category?.name}}</mat-card-title>
        </div>
        <mat-card-content>
          <br/>
          <div style="text-align:center;">
          <h3><b>Date:</b> {{(meeting$ | async)?.date | date}} <br/></h3>
          </div>
          <div class="inside-card" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-around center">
            <h2>Inspirations</h2>
            <mat-selection-list [multiple]="false">
              <mat-list-option  *ngFor="let inspiration of (meeting$ | async)?.inspirations" [value]="inspiration">
                <span>{{inspiration}}</span>
              </mat-list-option>
            </mat-selection-list>
          </div>
          <div class="inside-card" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-around center">
          <h2>Places</h2>

            <mat-grid-list cols="3" class="grid-layout-custom">
              <mat-grid-tile *ngFor="let place of (meeting$ | async)?.suggestedPlaces" >
                <mat-card class="my-grid-tile">
                  <mat-card-header>
                    <mat-card-title>{{place.name}}</mat-card-title>
                      <mat-card-subtitle>{{place.location}}</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-content><div style="text-align:center;">{{place.description}}</div></mat-card-content>
                </mat-card>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </mat-card-content>
      </mat-card>
</div>



