.button_right {float: right}
.card{
  //position:fixed;
  height:50vh;
  width: 200px;
  //max-height:100%;
}

::ng-deep {
  .true .mat-list-option-isNegative{
    color : red;
  }
}

.example-viewport {
  height: 35em;
  width: 20em;
}

hr.dotted {
  border-top: 3px dotted #bbb;
}

.top {
  text-align: center;
  margin-top: 20px;
  background: rgba(163, 229, 234, 0.49);

}

.mat-list-option {
  height: 4em !important;
}