<mat-card class="top">
  How about meeting someone interesting? Create a new meeting request or wait for one of the pending to be
  matched!
</mat-card>

<div class="container" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-around end">
  <div class="inside-card" fxLayout="column" fxLayoutGap="10px">
    <mat-card>
      <div style="text-align:center;">
        <mat-card-title matTooltip="List of your finished meetings">
          Past
        </mat-card-title>
      </div>
      <hr>
      <cdk-virtual-scroll-viewport [itemSize]="18 * 7" class="example-viewport">
        <mat-card-content>

          <div class="inside-card" fxLayout="column" fxLayoutGap="10px">
            <mat-selection-list [multiple]="false">
              <mat-list-option *ngFor="let meeting of (pastMeetings$ | async)" [value]="meeting"
                               (click)="openMeeting(meeting)">
                <span><b>Conversation category: {{meeting.category.name}}</b> <br> Date: {{meeting.date | date }}</span>
                <hr class="dotted">
              </mat-list-option>
            </mat-selection-list>
          </div>

        </mat-card-content>
      </cdk-virtual-scroll-viewport>
    </mat-card>
  </div>


  <div class="inside-card" fxLayout="column" fxLayoutGap="10px">
    <mat-card>
      <div style="text-align:center;">
        <mat-card-title matTooltip="List of your meeting requests to be matched">Pending</mat-card-title>
      </div>
      <hr>
      <cdk-virtual-scroll-viewport [itemSize]="18 * 7" class="example-viewport">
        <mat-card-content>
          <div class="inside-card" fxLayout="column" fxLayoutGap="10px">
            <mat-selection-list [multiple]="false">
              <mat-list-option style="height:auto" class="" *ngFor="let request of (requests$ | async)"
                               [value]="request" (click)="openRequest(request)">
                <span
                  *ngIf="request.negative "
                  style="color: red"
                  matTooltip="If your request is red, it means that you used hate speech and this request will not be matched.">
                  <b>Category: {{request.category.name}}</b> <br> start date: {{request.startDate | date }}
                  / end date: {{request.endDate | date}}</span>
                <span
                  *ngIf="!request.negative ">
                  <b>Category: {{request.category.name}}</b> <br> start date: {{request.startDate | date }}
                  / end date: {{request.endDate | date}}</span>
                <hr class="dotted">
              </mat-list-option>
            </mat-selection-list>
          </div>

        </mat-card-content>
      </cdk-virtual-scroll-viewport>
      <div class="inside-card" fxLayout="column" fxLayoutGap="10px" align="right" routerLink='/new-request'
           routerLinkActive='active'>
        <button mat-raised-button aria-label="Add new meeting request" class="button-right button-color">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>

  <div class="inside-card" fxLayout="column" fxLayoutGap="10px">
    <mat-card>
      <div style="text-align:center;">
        <mat-card-title  matTooltip="List of your upcoming meetings">Matched</mat-card-title>
      </div>
      <hr>
      <cdk-virtual-scroll-viewport [itemSize]="18 * 7" class="example-viewport">
        <mat-card-content>
          <div class="inside-card" fxLayout="column" fxLayoutGap="10px">
            <mat-selection-list [multiple]="false">
              <mat-list-option *ngFor="let meeting of (matchedMeetings$ | async)" [value]="meeting"
                               (click)="openMeeting(meeting)">
                <span><b>Category: {{meeting.category.name}}</b> <br> Date: {{meeting.date | date }}
                  <br> E-mail: {{getBuddyEmail(meeting)}}</span>
                <hr class="dotted">
              </mat-list-option>
            </mat-selection-list>
          </div>

        </mat-card-content>
      </cdk-virtual-scroll-viewport>
    </mat-card>
  </div>

</div>



