<div class="container" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-around end">
  <mat-card>
    <div class="inside-card" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-around center">
      <mat-card>
        <div style="text-align:center;">
          <mat-card-title>Matched</mat-card-title>
        </div>
        <mat-card-content> Some upcoming m</mat-card-content>
      </mat-card>
    </div>

    <div class="inside-card" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-around center">
      <mat-card>
        <div style="text-align:center;">
          <mat-card-title>Pending</mat-card-title>
        </div>
        <mat-card-content> Some pending requests.......</mat-card-content>
      </mat-card>
    </div>

    <div class="inside-card" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-around center">
      <mat-card>
        <div style="text-align:center;">
          <mat-card-title>Past</mat-card-title>
        </div>
        <mat-card-content> Some pending requests.......</mat-card-content>
      </mat-card>
    </div>
    <div align="right" routerLink='/new-request' routerLinkActive='active'>
      <button mat-fab aria-label="Add new meeting request" class="button-right">
        <mat-icon>add</mat-icon>
      </button>
    </div>

  </mat-card>

</div>



