.button_right {float: right}
.card{
  //position:fixed;
  height:50vh;
  width: 200px;
  //max-height:100%;
}

::ng-deep {
  .true .mat-list-option-isNegative{
    color : red;
  }
}

.example-viewport {
  height: 600px;
  width: 300px;
}

hr.dotted {
  border-top: 3px dotted #bbb;
}
