table {
  width: 100%;
  alignment: center;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 30px;
}

html, body {
  height: 100%;
}

.mat-cell {
  font-size: 0.9vw;
  text-align: center;
  padding: 30px 30px 8px 0;
  vertical-align: center;

  //border-right: 1px solid rgba(0, 0, 0, 0.16);

}
.mat-header-cell {
  font-size: 0.9vw;
  justify-content: center;
  text-align: center;
  padding: 30px 30px 8px 0;
  vertical-align: center;
  //border-right: 1px solid rgba(0, 0, 0, 0.16);

}

.mat-column{
  text-align: center;
}
.mat-row {
  height: auto;
}

.no-wrap{
  white-space: nowrap;
  text-align: center;
  //word-wrap: break-word;
  //max-width: 200px;
}

.justified{
  text-align: justify-all;
  text-justify: inter-word;

}
.td {
  display: table-cell;
  vertical-align: center;
  text-align: center;

}
