<mat-toolbar color="primary">

  <div class="toolbar-spacer"></div>

  <a mat-button  routerLink='main' routerLinkActive='active'><h1 style="font-family: norse-fat">Forseti</h1></a>
  <span class="example-fill-remaining-space"></span>

  <button mat-raised-button *ngIf="!loginDisplay" (click)="login()">Login</button>
  <button style="font-family: norse-fat;" class="button_right button-color" mat-raised-button *ngIf="loginDisplay" (click)="logout()">Logout</button>
</mat-toolbar>

<div class="center-align bg">
<!--  <button mat-raised-button  (click)="requests()">Tests User</button>-->
  <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
  <router-outlet *ngIf="loginDisplay"></router-outlet>
  <app-entry *ngIf="!loginDisplay"></app-entry>
</div>
<app-footer></app-footer>

