/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: norse, sans-serif; }
.h1{
  font-family: norse-fat
}
* {
  font-family:  norse;
}
.container {
  margin: 20px;
  //display: flex;
}

.inside-card {
  margin: 25px;

}


@font-face {
  font-family: norse;
  src: url(assets/Norse-KaWl.otf) format("opentype");
}

@font-face {
  font-family: norse-fat;
  src: url(assets/NorseBold-2Kge.otf) format("opentype");
}

.bg
{
  /* The image used */
  background-image: url("assets/forest.jpg");

  /* Full height */
  height: 100vh; /* For 100% screen height */
  width:  100vw; /* For 100% screen width */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //background;
}
