/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: norse, sans-serif; }
.h1{
  font-family: norse-fat !important
}
* {
  font-family:  norse;
}
.container {
  margin: 20px;
  //display: flex;
}

.inside-card {
  margin: 25px;

}

//.spacer{
//  margin: 10.5em
//}

.detail-font{
  font-size: 1.5em;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.detail-font-label{
  flex-grow: 1;
}

@font-face {
  font-family: norse;
  src: url(assets/Norse-KaWl.otf) format("opentype");
}

@font-face {
  font-family: norse-fat;
  src: url(assets/NorseBold-2Kge.otf) format("opentype");
}

.bg
{
  /* The image used */
  background-image: url("assets/forest.jpg");

  /* Full height */
  height: 100vh; /* For 100% screen height */
  width:  100vw; /* For 100% screen width */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //background;
}

.mat-toolbar.mat-primary {
  background: rgba(30, 152, 159, 0.49);
  color: #fff;
}


.button-color {
  background: rgba(10, 69, 73, 0.49);
  color: #fff;
}
